*{
	margin: 0;
	padding: 0;
}
.xx{
	display: flex;
	height: 200px;
}

.s1,.s3{
	flex :0 0 200px;
	height: 200px;
}
.s1{
	background: blue;
	order: -1;
}
.s3{
	background: green;
}
.s2{background: red;flex:1;}

